<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- <add name="csDevel" connectionString="Server=localhost;port=5433;user id=postgres;password=jovan1999;database=mplaner;"/>
		<add name="csDeploy" connectionString="Server=localhost;port=5432;user id=postgres;password=Peca;database=mplaner;"/>-->
		<add name="cs" connectionString="Server=;port=;user id=;password=;database=;" providerName="Npqsql"/>
	</connectionStrings>
</configuration>