<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs" connectionString="sZiAxIFizOuCGYhixBp50WpSGjUIk080DNxtNfvPYJfs8B2xNPG4e+ulz9ryRKXuPoV7iRsXbzgWEXLba5a/R64JyhrUXi+JHaafX6TCYk75eAPWLEnsvTyR3qkzQifCT4hucsfLGDxofekO3A0tWg==" providerName="Npqsql"/>
	</connectionStrings>
</configuration>